.backgroundVideo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./../background-video-2.gif');
  background-size: cover;
  user-select: none;

  background-repeat: repeat;
  background-attachment: fixed;
  z-index: 0;
}

.blurLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.startScreen {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255, 255, 255, 0.35);
  border: 2px solid #dddddd;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}

/* Organization name */
.orginzationText {
  /* font-size: 150px; */
  font-weight: 800;
  outline: none;
  background: linear-gradient(
    135deg,
    #5335cf 0%,
    #de005e 25%,
    #f66e48 50%,
    #de005e 75%,
    #5335cf 100%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 20s linear infinite;
}
@keyframes textAnimate {
  to {
    background-position: 400%;
  }
}

/* Start Screen Settings */
.tooltips::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #1e293b;
  position: absolute;
  left: 28px;
  rotate: 45deg;
  border-radius: 2px;
  bottom: -8px;
  box-shadow: 3px 2px 10px #1e293b;
}
